
body{background-image: url(http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Other%20Explore%20Photos/R-Z/Super%20Snakes/Snakes-fangs.jpg);
color: purple;}

h1{text-align: center;}


h1{text-align: center;}

li{color:white;}


a{color:white;
font-size-adjust: 40px}